body{
        background-color: #514258;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
      }
      .title{
        font-size: 30px;
        font-weight: bold;
      }
      .move-icon{
        height:50px;
      }
      .move-button{
        background-color: transparent;
        border: 3px solid white;
        border-radius: 60px;
        width: 120px;
        height: 120px;
        margin-right: 10px;
        cursor: pointer;
      }
      .result{
        margin-top: 50px;
        font-weight: bold;
        font-size: 25px;
      }
      .score{
        margin-top: 60px;
      }
      .reset-button{
        background-color: white;
        border: none;
        font-size: 15px;
        padding: 8px 15px;
        cursor: pointer;

      }